.mContentClass {
    max-width: 140px;
}

table,tr,td {
    border: 0px
}
tbody.message-show:hover {
    background-color: rgb(219, 219, 219);
}
#ElementList-votebtns button {
    display: block;
    margin-bottom: 0px;
    min-width: 65px;
}